
body {
    font-family: sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: #fafafa;
}

.post {
    width: 100%;              /* занимает всю ширину контейнера */
    max-width: 450px;         /* ограничение, если нужно */
    margin: 0 auto;           /* центрирование */
    overflow: hidden;         /* на всякий случай */
}
.post img {
    width: 100%;              /* растягивается под ширину поста */
    height: auto;             /* сохраняет пропорции */
    object-fit: contain;      /* гарантирует, что не обрежется */
    display: block;
}

.creator{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background: fafafa;
    color: rgb(20, 131, 235);
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.logo {
    font-family: 'Billabong', cursive;
    font-size: 32px;
    margin-bottom: 30px;
    margin-left: 10px;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 8px 10px;
    border-radius: 10px;
    transition: background 0.2s;
}

.menu-item:hover {
    background: gray;
}

.menu-item img {
    width: 24px;
    height: 24px;
}

.profile-pic {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
}
