 
 body {
    font-family: sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: #fafafa;
}
 form {
    text-align: right;
    margin-bottom: 20px;
}

.container {
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.profile-tag {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; /* центрируем только аву и имя */
    gap: 30px;
    margin-bottom: 30px;
    margin-left: -10%;
}

.profile-tag img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
}

.bio {
    display: flex;
    flex-direction: column;      
    justify-content: center;
}
.followers{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    /* justify-content: center; */
    /* text-align: center; */
}
.button-follow button {
    padding: 6px 14px;
    background-color: #0095f6;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: transform 0.2s, background-color 0.2s;
}

 .posts {
    display: flex;
    flex-wrap: wrap;    

}
 .post-profile {
    background: white;
    border: 1px solid #ccc;
    padding: 0;
    width: 230px;
    height: 300px;
    overflow: hidden; /* чтобы не выходило за границы */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}
 .post-profile img, .post video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* вот это делает магию — заполняет всю карточку */
    display: block;
}
 .caption {
    font-size: 14px;
    margin: 8px 0;
}
 .date {
    color: #777;
    font-size: 12px;
}
.post-profile-link {
    text-decoration: none;
    color: inherit;
}
 .post-profile-link:hover .post {
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    transform: translateY(-1px);
    transition: 0.2s;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;

    color: rgb(20, 131, 235);
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}
/* При сужении экрана */
@media (max-width: 1000px) {

    .sidebar {
        width: 80px;
        padding-left: 10px;
    }

    /* скрываем текст меню */
    .sidebar .menu-item span {
        opacity: 0;
        width: 0;
        overflow: hidden;
    }

    /* центрируем иконки */
    .sidebar .menu-item {
        justify-content: center;
    }

    /* скрываем текстовый логотип */
    .logo {
        display: none;
    }
}


.logo {
    font-family: 'Billabong', cursive;
    font-size: 32px;
    margin-bottom: 30px;
    margin-left: 10px;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 8px 10px;
    border-radius: 10px;
    transition: background 0.2s;
}

.menu-item:hover {
    background: gray;
}

.menu-item img {
    width: 24px;
    height: 24px;
}

.profile-pic {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
}

