 form {
    text-align: right;
    margin-bottom: 20px;
}

.container{
    margin-left: 18%;
}

.bio{
    align-items: center;
}

.profile-tag{
    align-items: center;
}
 .posts {
    display: flex;
    flex-wrap: wrap;    

}
 .post {
    background: white;
    border: 1px solid #ccc;
    padding: 0;
    width: 230px;
    height: 300px;
    overflow: hidden; /* чтобы не выходило за границы */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}
 .post img, .post video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* вот это делает магию — заполняет всю карточку */
    display: block;
}
 .caption {
    font-size: 14px;
    margin: 8px 0;
}
 .date {
    color: #777;
    font-size: 12px;
}
.post-link {
    text-decoration: none;
    color: inherit;
}
 .post-link:hover .post {
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    transform: translateY(-1px);
    transition: 0.2s;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background: fafafa;
    color: rgb(20, 131, 235);
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.logo {
    font-family: 'Billabong', cursive;
    font-size: 32px;
    margin-bottom: 30px;
    margin-left: 10px;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 8px 10px;
    border-radius: 10px;
    transition: background 0.2s;
}

.menu-item:hover {
    background: gray;
}

.menu-item img {
    width: 24px;
    height: 24px;
}

.profile-pic {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
}

