{% extends 'basic/home.html' %}

{% block title %}Lirnex{% endblock %}



{% block content %}

<div class="heading"><h2>Уведомления</h2></div>

<div class="notifications">
{% for n in notifications %}
<div class="notif {% if not n.is_read %}new{% endif %}">
    <div class="notif-back">
        {% if n.notif_type == "like" %}
            ❤️ <a href="{% url 'basic:post_detail' n.post.pk %}">{{ n.from_user.username }}  лайкнул ваш пост</a>
        {% elif n.notif_type == "comment" %}
            💬  
<a href="{% url 'basic:post_detail' n.post.pk %}">
    {{ n.text }}
</a>

        {% elif n.notif_type == "follow" %}
            👤 <a href="{% url 'user:profile' n.from_user.username %}">{{ n.from_user.username }}  подписался на вас</a>
        {% endif %}
    </div>
    <small>  . <strong>{{ n.created_at }}</strong></small>
</div>
{% empty %}
<p>Пока нет уведомлений</p>
{% endfor %}
</div>


{% endblock %}
