{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{{ post.author.username }} — Пост</title>
    <link rel="stylesheet" href="{% static 'css/post_detail.css' %}">


</head>
<body>
<div class="post">
    <h2>{{ post.author.username }}</h2>
    <p><strong>Дата:</strong> {{ post.created_at|date:"d.m.Y H:i" }}</p>
    <p>{{ post.caption|linebreaks }}</p>

    {% for media in post.media.all %}
        {% if media.is_image %}
            <img src="{{ media.file.url }}" alt="">
        {% elif media.is_video %}
            <video src="{{ media.file.url }}" controls></video>
        {% endif %}
    {% endfor %}

    {% if request.user == post.author %}
        <a href="{% url 'basic:post-delete' post.pk %}" class="delete">Видалити</a> 
    {% endif %}
    <a href="{% url 'user:profile' request.user.username %}">Повернутись</a>
</div>
</body>
</html>
