
{% load static%}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Lirnex{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">


<body>
{% block content %}
{% if request.user.is_authenticated %}
    <form action="{% url 'user:logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Вийти</button>
    </form>
{% endif %}

<div class="layout">
    <div class="sidebar">
        <h2 class="logo">Lirnex</h2>

        <a href="{% url 'basic:home' %}" class="menu-item">
            <img src="{% static 'icons/home.png' %}" alt="">
            <span>Головна</span>
        </a>

        <a href="{% url 'user:search_users' %}" class="menu-item">
            <img src="{% static 'icons/search.png' %}" alt="">
            <span>Пошук</span>
        </a>

        <a href="#" class="menu-item">
            <img src="{% static 'icons/messages.png' %}" alt="">
            <span>Повідомлення</span>
        </a>

        <a href="#" class="menu-item">
            <img src="{% static 'icons/notification.png' %}" alt="">
            <span>Сповіщення</span>
        </a>

        <a href="{% url 'basic:post-create' %}" class="menu-item">
            <img src="{% static 'icons/plus.png' %}" alt="">
            <span>Створити</span>
        </a>
        

        {% if request.user.is_authenticated %}
            <a href="{% url 'user:profile' username=request.user.username %}" class="menu-item">
                {% if request.user.profile.photo_profile %}
                    <img src="{{ request.user.profile.photo_profile.url }}" class="profile-pic" alt="">
                {% else %}
                    <img src="{% static 'icons/default-avatar.png' %}" class="profile-pic" alt="">
                {% endif %}
                <span>Профіль</span>
            </a>
        {% else %}
            <a href="{% url 'user:register'%}" class="menu-item">
                <span style="background-color:rgb(0,145,255); padding:10px; border-radius:10px;">
                    Зареєструватися
                </span>
            </a>
        {% endif %}
    </div>

<div class="container">
        <div class="profile-tag" style=" align-items: center; gap: 20px;">
            {% if profile.photo_profile %}
                <img src="{{ profile.photo_profile.url }}" alt="Фото профиля" style="width:150px; height:150px; border-radius:50%; object-fit:cover;">
            {% else %}
                <img src="/static/default-avatar.png" alt="Без фото" style="width:150px; height:150px; border-radius:50%;">
            {% endif %}
            <div class="bio">
                <h1>{{ profile.user.username }}</h1>
                {% if profile.bio != none %}
                    <h3>{{ profile.bio }}</h3>
                {% else %}
                    <h3>нічого</h3>
                {% endif %}
            
                <div class="followers">
                    <h3>Підписки: {{ request.user.profile.following.count  }}  Підписники: {{ request.user.profile.followers.count }}</h3>

                {% if request.user != profile.user %}
                    {% if profile in request.user.profile.following.all %}
                        <form method="post" action="{% url 'user:unsubscribe' profile.user.username %}">
                            <div class="button-follow"> {%csrf_token %}
                            <button>Відписатися</button>
                        </div>
                        </form>
                    {% else %}
                        <form method="post" action="{% url 'user:subscribe' profile.user.username %}">
                            <div class="button-follow">{% csrf_token %}
                            <button>Підписатися</button>
                            </div>
                        </form>
                    {% endif %}
                {% endif %}
            
                </div>
        </div>
    </div>

        {% if posts %}
            <div class="posts">
        {% for post in posts %}
            <a href="{% url 'basic:post_detail' post.pk %}" class="post-link">
                <div class="post-profile">

                    {% for media in post.media.all %}
                        {% if media.is_image %}
                            <img src="{{ media.file.url }}" alt="Фото">
                        {% elif media.is_video %}
                            <video src="{{ media.file.url }}" controls></video>
                        {% endif %}
                    {% endfor %}
                </div>
            </a>
        {% endfor %}

    </div>
</div>

    {% else %}
        <p>Поки що немає публікацій.</p>
    {% endif %}
{% endblock %}
</body>
</head>
</html>