{% extends "basic/home.html" %}
{% load static %}

{% block title %}Профіль {{ profile.user.username }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}

{% if request.user.is_authenticated %}
    <form action="{% url 'user:logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Вийти</button>
    </form>
{% endif %}

<div class="container">

    <div class="profile-tag" style="align-items: center; gap: 20px;">
        {% if profile.photo_profile %}
            <img src="{{ profile.photo_profile.url }}" 
                 alt="Фото профілю"
                 style="width:150px; height:150px; border-radius:50%; object-fit:cover;">
        {% else %}
            <img src="{% static 'icons/default-avatar.png' %}" 
                 alt="Без фото"
                 style="width:150px; height:150px; border-radius:50%;">
        {% endif %}

        <div class="bio">
            <h1>{{ profile.user.username }}</h1>

            <a href="{% url 'user:update_profile' %}" class="btn btn-primary">Редагувати профіль</a>


            </form>

            {% if profile.bio %}
                <h3>{{ profile.bio }}</h3>
            {% else %}
                <h3>Опис відсутній</h3>
            {% endif %}

            <div class="followers">
                <h3>
                    Підписки: {{ profile.following.count }}  
                    &nbsp;&nbsp;
                    Підписники: {{ profile.followers.count }}
                </h3>


                {% if request.user != profile.user %}
                    {% if profile in request.user.profile.following.all %}
                        <form method="post" action="{% url 'user:unsubscribe' profile.user.username %}">
                            {% csrf_token %}
                            <button class="button-follow">Відписатися</button>
                        </form>
                    {% else %}
                        <form method="post" action="{% url 'user:subscribe' profile.user.username %}">
                            {% csrf_token %}
                            <button class="button-follow">Підписатися</button>
                        </form>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

    {% if posts %}
        <div class="posts">
            {% for post in posts %}
                <a href="{% url 'basic:post_detail' post.pk %}" class="post-link">
                    <div class="post-profile">

                        {% for media in post.media.all %}
                            {% if media.is_image %}
                                <img src="{{ media.file.url }}" alt="Фото">
                            {% elif media.is_video %}
                                <video src="{{ media.file.url }}" controls></video>
                            {% endif %}
                        {% endfor %}

                    </div>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p>Поки що немає публікацій.</p>
    {% endif %}

</div>

{% endblock %}
